:root {
    --fond1: white;
    --fond2: #333;
    --text1: #000;
    --text2: #fff;
    --element: yellow;
    --logoFont: 'Herr Von Muellerhoff';
    --menuTitle: 'Oswald';
    --corps: 'Roboto';
    --promo: 'Quattrocento Sans';
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oswald-v53-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Quattrocento Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quattrocento-sans-v21-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Herr Von Muellerhoff';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/herr-von-muellerhoff-v21-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: var(--corps);
    color: var(--text1);
    font-size: 16px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
}




/*----------------HEADER--------------*/

#promo {
    display: flex;
    background-color: var(--fond2);
    height: 80px;
    justify-content: center;
    align-items: center;
}

#promo h1 {
    font-family: var(--promo);
    color: var(--text2);
    font-size: 1.5rem;

}

/*-------LOGO------------*/

.mainLogo {
    font-family: var(--logoFont);
    font-size: 6rem;
    font-weight: lighter;
}

.textLogo {
    font-family: var(--menuTitle);
    font-size: 1.2rem;
    font-weight: lighter;
    font-style: italic;
}


#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#logo .mainLogo {
    margin-top: 50px;
}


/*------NAV---------*/

#menuPhoto {
    display: none;
}

#menuPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 152px;
}

#menuPrincipal ul {
    display: flex;
}

#menuPrincipal ul li {
    margin: 10px 32px;
}

#menuPrincipal ul li a {
    font-weight: bold;
}

#menuPrincipal ul li a:hover {
    font-style: italic;
    font-size: 1.1rem;
}

#menuPrincipal ul li a.choix {
    border-bottom: 2px solid #000;

}


/*-------------MAIN------------*/

.slider-wrapper, .theme-default{
    margin: 30px 120px;
}
/*------------SLIDE---------------*/

.nivo-caption {
    bottom: 44px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
}

/*-----HOME-----------*/


#carrousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#carrousel .block {
    display: flex;
    flex-wrap: wrap;
    max-width: 886px;
    gap: 31px;
    margin: 24px 157px;
}

#carrousel .carte {
    display: flex;
    flex-direction: column;
    width: 31%;
    min-width: 274px;
}

#carrousel .carte img {
    width: 100%;

}

#carrousel .carte h3 {
    font-family: var(--menuTitle);
    font-size: 0.9rem;
    font-weight: lighter;
    letter-spacing: 2px;
}

#carrousel .carte p {
    font-family: var(--logoFont);
    font-size: 0.9rem;
    font-weight: lighter;
    letter-spacing: 2px;
}

#carrousel #bouton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
    margin-bottom: 40px;
}

#carrousel #bouton p:hover {
    background-color: var(--element);
}

#carrousel #bouton p {
    display: flex;
    background-color: #999;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

/*--------CONTACT----------*/

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 27%;
}

#contact #map iframe {
    margin-top: 16px;
    width: 100%;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#contact #nousContacter {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
}

#contact #nousContacter #info {
    width: 48%;
}

#contact #nousContacter .nousEcrir {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

#contact #nousContacter .nousEcrir h4 {
    margin-bottom: 10px;
}


#contact #nousContacter .nousTrouver h4 {
    margin-bottom: 8px;
}

#contact #nousContacter .nousEcrir form {
    display: flex;
    flex-direction: column;
}

#contact #nousContacter .nousEcrir form p {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;

}

#contact #nousContacter .nousEcrir form input[type=text],
#contact #nousContacter .nousEcrir form input[type=email],
#contact #nousContacter .nousEcrir form textarea[type=message] {
    background-color: var(--fond2);
    width: 45%;
    ;
}

#contact #nousContacter .nousEcrir form label {
    display: block;
    width: 80px;
}

#contact #nousContacter .nousEcrir form button {
    background-color: var(--fond2);
    color: #fff;
    padding: 8px;
    font-size: 0.6rem;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#contact #nousContacter address {
    margin-bottom: 16px;
}


/*---------FOOTER-----------*/

#copyright {
    display: flex;
    flex-direction: column;
    background-color: var(--fond2);
    color: var(--text2);
    height: 160px;
    justify-content: center;
    align-items: center;
}

#copyright .mainLogo {
    font-size: 4rem;
}


@media screen and (max-width:576px) {

    /*---------INDEX----------*/

    #promo h1 {
        font-size: 0.9rem;
    }

    #carrousel .carte {
        width: 100%;
        min-width: 380px;
    }


    #menuPrincipal{
        display: flex;
        flex-direction: column;
    }

    #menuPrincipal ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #menuPhoto {
        display: flex;
        font-size: 4rem;
        justify-content: center;
        margin: 10px 0;

}

    #menuPhoto:active{
        font-size: 4.5rem;
    }

    



    #carrousel .carte h3 {
        font-family: var(--menuTitle);
        font-size: 1.5rem;
        font-weight: lighter;
        letter-spacing: 2px;
    }

    #carrousel .carte p {
        font-family: var(--logoFont);
        font-size: 1.5rem;
        font-weight: lighter;
        letter-spacing: 2px;
    }


    /*----------NOUSCONTACTER--------------*/

    #contact #nousContacter {
        flex-direction: column;
        border: 1px solid grey;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 5px;
    }

    #contact #nousContacter .nousEcrir form input[type=text],
    #contact #nousContacter .nousEcrir form input[type=email],
    #contact #nousContacter .nousEcrir form textarea[type=message] {
        background-color: var(--fond2);
        width: 100%;
    }

    #contact #nousContacter .nousEcrir form label {
        width: 150px;
    }

    #contact #nousContacter #info {
        width: 98%;
        margin-bottom: 40px;
    }

}